/* ==========================================================================
   Minimalist Form component styles
   ========================================================================== */

// General styles
.c-mini-form {
  position: relative;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $generic-white-color;

  input:focus,
  button:focus {
    outline: none;
  }
}

/* sub-elements styles
   ========================================================================== */

// outer wrap styles
.c-mini-form__input-wrap {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $generic-white-color;
  min-width: 0;
  width: 0;
  height: 3.3em;
  padding: 0;
  display: flex;
  align-items: center;
  border-right: 4px solid $secondary-light-color;
  margin: 0;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
  transition: border-right-color 0.2s 0.5s;

  &:first-of-type {
    border: 0;
    width: 19em;
  }

  &.is-active {
    min-width: 19em;

    > .c-mini-form__input-inner {
      visibility: visible;
    }

    & + .c-mini-form__input-wrap {
      border-right-color: $primary-light-color;
    }
  }

  &.is-invalid + .c-mini-form__input-wrap{
      border-right-color: #F36C75;
  }

  .c-mini-form__btn--prev {
    display: inline-block;
    position: absolute;
    right: -4px;
    top: 0;
    height: 3.3em;
    width: 4px;
    margin: 0;
    background-color: $secondary-light-color;
    cursor: pointer;
    visibility: hidden;
    transition: visibility 0s 0.5s, background-color 0.2s;

    &:hover {
      background-color: $primary-light-color;
    }
  }
}

// Inner wrap styles
.c-mini-form__input-inner {
  position: relative;
  margin-left: 0.5em;
  width: 18em;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 1;
  overflow: hidden;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);

  background-color: lighten($secondary-light-color, 5%);

  .c-mini-form__input,
  .c-mini-form__submit-btn {
    height: 100%;
    width: 14.7em;
    margin: 0;
  }

  .c-mini-form__input {
    border: none;
    background-color: transparent;
    padding-left: 0.9em;
    padding-right: 0.9em;
    color: lighten($generic-black-color, 30%);

    &:hover {
      cursor: text;
    }
  }

  .c-mini-form__btn--next,
  .c-mini-form__btn--back {
    cursor: pointer;
    height: 100%;
    margin: 0;
    width: 3.3em;
    color: $generic-white-color;
    background-color: $primary-color;
    border: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: lighten($primary-color, 8%);
    }
  }

  .c-mini-form__submit-btn {
    cursor: pointer;
    border: none;
    color: $generic-white-color;
    background-color: $primary-dark-color;
    transition: background-color 0.2s;

    &:hover {
      background-color: lighten($primary-dark-color, 8%);
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes rollToRight {
  0% {
    width: 0;
    min-width: 0;
  }
  100% {
    width: 19.5em;
    min-width: 19em;
  }
}

@keyframes rollToLeft {
  0% {
    width: 19.5em;
    min-width: 19em;
  }
  100% {
    width: 0;
    min-width: 0;
  }
}

@keyframes bgChange {
  0% {
    background-color: lighten($secondary-light-color, 10%);
  }
  60% {
    background-color: lighten($secondary-light-color, 10%);
  }
  100% {
    background-color: lighten($secondary-light-color, 5%);
  }
}
