/* ==========================================================================
   Minimalist Form component styles
   ========================================================================== */

// General styles
.c-mini-form {
  position: relative;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $generic-white-color;

  input:focus,
  button:focus {
    outline: none;
  }

  .c-mini-form__btn--prev {
    display: block;
    position: absolute;
    top: 0;
    height: 3.3em;
    width: 4px;
    margin: 0;
    background-color: $secondary-light-color;
    cursor: pointer;
    visibility: hidden;
    transition: visibility 0s, background-color 0.2s;

    &:hover {
      background-color: $primary-light-color;
    }
  }
}

/* sub-elements styles
   ========================================================================== */

// outer wrap styles
.c-mini-form__input-wrap {
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: $generic-white-color;
  border-right: 4px solid $secondary-light-color;
  min-width: 0;
  width: 0;
  height: 3.3em;
  margin: 0;
  padding: 0;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: border-right-color 0.2s 0.8s;

  &:first-of-type {
    border: 0;
    width: 19em;
  }

  &.is-active {
    min-width: 19em;

    // Valid border color of the first card after the active card
    & ~ .c-mini-form__input-wrap {
      transition: border-right-color 0.2s;
      border-right-color: $primary-light-color;
    }

    // Valid border color of the rest cards after the active card
    & ~ .c-mini-form__input-wrap ~ .c-mini-form__input-wrap {
      transition: border-right-color 0.2s;
      border-right-color: $secondary-light-color;
    }
  }
  // Invalid border color
  &.is-invalid ~ .c-mini-form__input-wrap {
    border-right-color: #F36C75;
  }
  // Valid border color
  &.is-invalid ~ .c-mini-form__input-wrap ~ .c-mini-form__input-wrap {
    border-right-color: $secondary-light-color;
  }

  &.c-mini-form__submit > .c-mini-form__input-inner {
    background-color: $primary-dark-color;
    color: $generic-white-color;
    display: flex;
    justify-content: center;
  }
}

// Inner wrap styles
.c-mini-form__input-inner {
  position: absolute;
  left: 0.5em;
  width: 18em;
  height: 100%;
  background-color: lighten($secondary-light-color, 5%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
  overflow: hidden;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  .c-mini-form__input,
  .c-mini-form__submit-btn {
    height: 100%;
    width: 14.7em;
    margin: 0;
    border: none;
  }

  .c-mini-form__input {
    background-color: transparent;
    padding-left: 0.9em;
    padding-right: 0.9em;
    color: lighten($generic-black-color, 30%);
  }

  .c-mini-form__btn--next,
  .c-mini-form__btn--back {
    cursor: pointer;
    height: 100%;
    margin-left: 0;
    width: 3.3em;
    color: $generic-white-color;
    background-color: $primary-color;
    border: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: lighten($primary-color, 8%);
    }
  }
  .c-mini-form__btn--next {
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .c-mini-form__submit-btn {
    cursor: pointer;
    color: $generic-white-color;
    background-color: $primary-dark-color;
    transition: background-color 0.2s;

    &:hover {
      background-color: lighten($primary-dark-color, 8%);
    }
  }
}

// Animations
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes expandToRight {
  0% {
    width: 0;
    min-width: 0;
  }
  100% {
    width: 19.5em;
    min-width: 19.5em;
  }
}

@keyframes rollToLeft {
  0% {
    width: 19.5em;
    min-width: 19em;
  }
  100% {
    width: 0;
    min-width: 0;
  }
}

@keyframes bgChange {
  0% {
    background-color: lighten($secondary-light-color, 10%);
  }
  75% {
    background-color: lighten($secondary-light-color, 10%);
  }
  100% {
    background-color: lighten($secondary-light-color, 5%);
  }
}
